<!-- jQuery Version 1.11.0 -->
<script src="/js/jquery-1.11.0.js"></script>

<!-- jQuery Rating Plugin -->
<script src="/js/jquery.barrating.min.js"></script>

<script>
var apiURL = "https://ngesx3ul9i.execute-api.us-east-1.amazonaws.com/dev/beer/rating";
{{ range $index, $element :=  .Data.Pages }}
  {{ if (eq .Section "beers")}}
    $(function() {
      var element = $('#{{ .Params.id }}');
      // Initialize the Star Rating System
      element.barrating({
        theme: 'fontawesome-stars',
        allowEmpty: true,
        onSelect: function(value, text, event) {
          if(event) {
            $.post( apiURL, JSON.stringify({ beer: "{{ .Params.id }}", rating: value }));
          }
        }
      });
      // Load the Rating from the server
      $.getJSON(apiURL + "?beer={{ .Params.id }}", function( data ) {
        element.barrating('set', Math.round(data.averageRating));
      });
    });
  {{ end }}
{{ end }}
</script>
